.input-wrapper {
  @apply relative;
  @apply flex;
  margin: var(--form-item-margin);
}

.input-label {
  @apply absolute;
  top: 1.4rem;
  left: 0.75rem;
  @apply text-gray-500;
  transition: all linear 0.1s;
}

.input {
  @apply border border-solid border-gray-400;
  @apply rounded-lg;
  @apply text-sm;
  @apply pt-6 pr-3 pl-3;
  @apply text-gray-800;
  @apply h-10;
  @apply w-full;

  &:focus,
  &:active,
  &.has-value {
    & + .input-label {
      top: 0.75rem;
      @apply text-sm;
    }
  }

  &.has-error {
    @apply border-red-600;
    @apply bg-red-100;

    & + .input-label {
      @apply text-error;
    }
  }
}

select.input {
  height: 76px;
}

.input-error {
  @apply absolute;
  bottom: -1.25rem;
  left: 0.75rem;
  @apply text-error;
  @apply text-xs;
}

.hidden {
  display: none;
}